<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MariaDB for Universities Program: Course Material</title>
    <link rel="stylesheet" href="/css/main.css">
    {{ template "_internal/opengraph.html" . }}
</head>
<body>
    <!-- Top Menu Bar -->
    <div class="top-menu">
        <div class="menu-left">
            <a href="/" class="home-link">
                MariaDB for Universities Program: Course Material
            </a>
        </div>
        <div class="menu-right">
            <a href="https://mariadb.org">MariaDB Foundation (mariadb.org)</a>
        </div>
    </div>

  {{ block "main" . }}{{ end }}
</body>
</html>
